body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: antiquewhite;
}

header{
    background-color: aquamarine ;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.logo{
    max-width:100%;
    height: 100px;

}

.primary-navigation{
    list-style: none;
    display: flex;
    gap:1rem; 
    font-size: 1rem;
    font-weight: bold;
    
    

}
.nav-link, .nav-link:visited {
    color: red;
    text-decoration: none;
}
.nav-link:hover{
    color:rgb(235, 181, 181);
}
.nav-link:active{
    color:white;
}
.grid-layout{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem; 
    margin-top: 2rem;
    width:95%;
    margin-inline:auto;
    color:rebeccapurple;
    max-width: 100%;
    
    
}
.list1{
    list-style:none;
    font-size: 1.2rem;
    max-width: 100%;
    
}
img{
    display: block;
    max-width: 100%;
    border-radius: 20px;
    

}
